.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40rem;
  gap: 1.5rem;
  grid-auto-columns: auto;
}

.card {
  text-align: center;
  box-shadow: 5px 5px 5px darkgoldenrod;
  border-radius: 10px;
  border: 1px solid darkgoldenrod;
  padding-bottom: 20px;
}

.card__image img {
  height: 250px;
}

.product__description {
  padding: 0 16px;
  height: 168px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__actions {
  display: flex;
  justify-content: center;
}
