.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #efaa4a;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid #efaa4a;
  color: #efaa4a;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #efaa4a;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  text-align: center;
  box-shadow: 5px 5px 5px darkgoldenrod;
  border-radius: 10px;
  border: 1px solid darkgoldenrod;
  padding-bottom: 20px;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}
