extends ../layouts/main-layout.pug

block content
	main
		if orders.length
			ul
				each order in orders
					li
						h2= '#' + order._id
						ul
							each product in order.items
								li= product.title + ' (' + product.quantity + ')'
		else
			h1 Orders Page
